{% extends 'base.html' %}

{% block head %}
<style>
     /* width */
     #report::-webkit-scrollbar {
      width: 4px;
    }

    /* Track */
    #report::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 8px;
      

    }

    /* Handle */
    #report::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 8px;
    }

    /* Handle on hover */
    #report::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
</style>

{% endblock %}

{% block body %}
    <div style="padding-top: 2%; padding-bottom: 1%; padding-left: 4%; padding-right: 4%; display: flex; flex-direction: row; justify-content: space-between;">
        <div style="font-weight:  800; font-size: 3.6rem; color: white; color: #7AFF7F; text-shadow:#7AFF7F  0.5px 0 10px; ">Dermatica</div>
        <div style="width: 340px; border-radius: 0.75rem; padding-top: 1%; padding-bottom: 1%; background-color: #F91313; font-size: 30px; font-weight: 600; display: flex; flex-direction: row; justify-content: space-around; align-items: center;">
          <div id = "Accuracy" style = "padding-top: 1%; padding-bottom: 1%; padding-left: 2%; padding-right: 2%; border-width: 3px; border-color: red; border-style: dashed; background-color: #FDA5A5; border-radius: 3rem; font-size: 25px;" >0.00%</div>
           Model Accuracy</div>
    </div>
    <div style=" padding-left: 4%; padding-right: 4%; height: 82%; display: grid; grid-template-columns: repeat(4, minmax(0,1fr)); grid-template-rows: repeat(6, minmax(0, 1fr)); gap:calc(15px);">
        <div style="grid-column: span 3; grid-row: span 6; display: flex; flex-direction: column; justify-content: center; ">
            <div style="font-size: 8rem; color: #ffffff;" >
                Identify
              </div>
              <div style="font-size: 8rem; color: #ffffff;" >
                Your
              </div>
              <div style="font-size: 8rem; color: #FB0000; text-shadow: #FB0000 1px 0 10px;">
                Skin Disease
              </div>
            </div>
            <div  style="border: 3px; border-color: #39ACFF; grid-row: span 4; background-color: #39ACFF; border-color: #39ACFF; border-radius: 0.75rem; display: flex; flex-direction: column; align-items: center; justify-content: space-between;">
              <div
                id="drop_zone"
                ondrop="dropHandler(event);"
                ondragover="dragOverHandler(event);"
                style="border: 2px #0687FF;
                width: 85%;
                height:40%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5%;
                padding: 4%;
                padding-top: 10%;
                margin-top: 5%;
                padding-bottom: 10%;
                border-style: dashed;
                background-color: #B5D9F3;">
                <p id="info" style="color: #4C4C4C;">Drag and drop Image to this drop zone or click to select Image</p>
              </div>
              <div id = "report" style = "width: 85%; background-color: #B5D9F3; padding: 4%; padding-top: 3%; padding-bottom: 3%; border-radius: 10px; font-weight: 600; height: 6rem; overscroll-behavior: contain; overflow-y: scroll ; scrollbar-width: thin;"></div>
              <div style="width: 100%; display: flex; justify-content: end; align-items: center; margin-bottom: 1%;"><button style="  border-radius: 8px; width: 50%; margin-right: 4%;  padding-top: 6px; padding-bottom: 6px;  background-color: white; text-align: center; font-weight: 800; color: #333333;  font-size: small;" onclick="Upload()" >Identify</button></div>
              

            </div>
            <div style="border: 3px; border-color: #EBEE46; background-color: #EBEE46; grid-row: span 2; border-radius: 0.75rem; display: flex; flex-direction: column; align-items: center; justify-content: space-around;" >
                    <div style = "width: 85%; background-color: #FEFFAF; border-radius: 10px ; padding: 4%; padding-top: 3%; padding-bottom: 3%; margin-top: 5%; font-weight: 600; color: #333333;">
                      Ramakrishnan B
                    </div>
                    <div style = "width: 85%; background-color: #FEFFAF; border-radius: 10px ; padding: 4%; padding-top: 3%; padding-bottom: 3%; font-weight: 600; color: #333333 ;">
                      Loga vishwa R
                    </div>
                    <div style = "width: 85%; background-color: #FEFFAF; border-radius: 10px ; padding: 4%; padding-top: 3%; padding-bottom: 3%; margin-bottom: 5%; font-weight: 600; color: #333333;">
                      Amirdhesh S
                    </div>
            </div>
            </div>
        </div>
       

    </div>

    <script>
      let imagefile = ""
      function dragOverHandler(event) {
    event.preventDefault();
    event.stopPropagation();
    document.getElementById('drop_zone').classList.add('active');
  }

  function dropHandler(event) {
    event.preventDefault();
    event.stopPropagation();
    document.getElementById('drop_zone').classList.remove('active');

    const files = event.dataTransfer.files;
    handleFiles(files);
  }

  function handleFiles(files) {
    for (const file of files) {
      if (file.type.startsWith('image/') && /\.(png|jpg)$/i.test(file.name)) {
        console.log(`Dropped image file: ${file.name}`);
      imagefile = file;
      console.log(imagefile)
        const reader = new FileReader();

        reader.onload = function (e) {
            const imageDataURL = e.target.result;

            const img = document.createElement('img');
            img.src = imageDataURL;
            img.height = 200;
            img.width = 300;
            const imageDisplay = document.getElementById('info');
            imageDisplay.innerHTML = '';
            imageDisplay.appendChild(img);
        };

        reader.readAsDataURL(file);
    }
      else {
        alert('Please drop a PNG or JPG image file.');
      }
    }
  }

  document.getElementById('drop_zone').addEventListener('click', () => {
    const fileInput = document.createElement('input');
    fileInput.type = 'file';
    fileInput.accept = 'image/png, image/jpeg';
    fileInput.addEventListener('change', (event) => {
      handleFiles(event.target.files);
    });
    fileInput.click();
    
    
  });

  function Upload(){
    const form = new FormData()
    form.append("image",imagefile)
    $.ajax({
      url : "/model",
      method : 'POST', 
      data : form ,
      processData: false,
      contentType: false,
      success : function(data){
        console.log("Success")
        document.getElementById('report').innerHTML = data.disease + '<br>' + data.comment;
        document.getElementById('Accuracy').textContent = data.confidence 
      } , 
      error : function(error) { 
        console.log(error )
      }
    })
  }

    </script>

{% endblock %}